:root {
  /*FONT*/
  --font-f: "Space Mono", monospace;
  --weight4: 400;
  --weight7: 700;

  /*LIGHT MODE*/
  --bg: #f6f8ff;
  --theme-btn: #4b6a98;
  --card: #fefefe;
  --txtNorm: #697c9a;
  --txtBolded: #2b3442;
  --img-btn: url(../src/assets/IconMoon.svg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: var(--font-f);
  background-color: var(--bg);
  height: 100%;
  color: var(--txtNorm) ;
  
  
}
.dark {
  /*DARK MODE*/
  --bg: #141d2f;
  --theme-btn: #fff;
  --card: #1e2a47;
  --txtNorm: #fff;
  --txtBolded: #fff;
  --img-btn: url(../src/assets/icon-sun.svg);
}

.content {
  max-width: 800px;
  margin: auto;
  height: 100vh;
  transform: translateY(15%);
}

@media screen and (max-width: 750px) {
  .content {
    max-width: 400px;
    scale: 0.9;
    transform: translateY(0%);
  }

  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
  }
  
}